<div class="container mt-4">
    <h1>{{ productTitle() }}</h1>
    <button class="btn btn-primary">Show Image</button>
    <div class="table-responsive">
        @if (products() && products().length) {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Release Date</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @for (product of products(); track product.productId){
                <tr>
                    <td>
                        @if (showImage()) {
                        <img width="50" height="50" [src]="product.imageUrl" [alt]="product.productName"
                            class="img-thumbnail" />
                        }
                        <!-- Property Binding -->
                    </td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.releaseDate }}</td>
                    <td>{{ product.description | lowercase}}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.starRating }}<app-star></app-star></td>
                </tr>
                }
            </tbody>
        </table>
        } @else {
        <div class="alert alert-danger">
            <h3>No products found.</h3>
        </div>
        }
    </div>

    <div>
        <h1>JSON response below for debugging</h1>
        <pre>{{ products() | json }}</pre>
        <app-accordion></app-accordion>
        <app-modal></app-modal>
        <app-star></app-star>
    </div>
</div>